<div class="row">
<div class="large-9 columns">
<h3 class="title_bold">About Us</h3>

		<p>Our Mission is to Provide Quality Antiques, Furniture’s and Accessories at a competitive price, we also believe that everyone who wants to own a piece of history be given the opportunity. We are India's Largest Indo-Portuguese Antiques Dealer.</p>
		</div>
		</div>
<div class="row">
<div class="large-9 columns">
<h4 class="title_bold">Our Growth Story</h4>

		<p>From a few collection of Kadamba era coins to Indo-Portuguese coins and accessories era, we have substitial collection of varied items like, Ancient Antiques, Coins, Crockery, Currency notes, Furniture, LP records, antique paintings, wooden craft, etc.</p>
		</div>
		</div>