<div class="row">
<div class="large-9 columns">
<h3 class="title_bold" style="margin-top:3%">About Us :</h3>

		<p>Our Mission is to Provide Quality Philately & Numismatics items by giving an opportunity to own a piece of history. Philatelic trade provides the vital and necessary link between philatelists. Indian Philatelic Trade has its contribution to the growth and development of philately in India.</p>
		</div>
		</div>
<div class="row">
<div class="large-9 columns">
<h3 class="title_bold">Our Growth Story</h3>

		<p>From a few collections of Indo-Portuguese stamps, coins and accessories, we have substantial collection of varied items like Coins, Crockery, Currency notes, LP records, wooden craft, etc.</p>
		</div>
		</div>