<div class="row">
<div class="large-12 columns">
<h3 class="title_bold" style="margin-top:3%">Partnership :</h3>
</div>
</div>
<div class="row" style="margin-left:0">
	<div class="large-12 columns">
		<div class="row">
		<p>Benefits for you, highest commission offered by any Philately & Numismatics  dealer ever. Partnering with us and enjoy 15% flat commission on all items.</p>
		<%= image_tag("/img/Partnership-logo1.gif", :border => 0) %>
		</div>
		</div>
		</div>