<div class="row">
<div class="large-12 columns">
<h3 class="title_bold">Partnership</h3>
</div>
</div>
<div class="row" style="margin-top:3%; margin-left: 3%">
	<div class="large-10 columns">
		<div class="row">
		<p>Benefits for you, highest commission offered by any antique dealer ever. Partnering with us and enjoy 15% flat commission on all items.</p>
		</div>
		</div>
		</div>