
<div class="row">
<div class="large-10 columns">
<h3 class="title_bold">Frequently asked Questions (FAQ) :</h3>
</div>
</div>
<div class="row" style="margin-top:3%">
	<div class="large-10 large-centered columns">
		<div class="row">
		<p></i><span style="margin-left:2%; color:#000">1. How long have we been in business? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Action Video and Philately was started in 1970's. It’s a family based tradition business. However, our interest in Philately has been lifelong.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">2. Why are your items priced so low? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">We sell unique, one of a kind items.  Part of our mission is to provide quality products at an affordable price. We believe that everyone who wants to own a piece of history be given the opportunity. We work directly with our contacts who search and explore  around the world to  acquire items for us.  Then we purchase in bulk and pass the savings onto our customers, which is why most our items are significantly less then our competitors.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">3. Do you do coin and stamps appraisals?</span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">No – we are not certified Appraisers. We have a general working knowledge of the business, but our interest is buying and selling — not speculating on what something might be worth.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">4. Do we buy items from customers? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Yes we do, but only items from genuine collectors / traders, also the item needs to be in a perfect condition.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">5. What is your pricing philosophy? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">We price our merchandise to sell. We are not concerned about what something is “worth” – we are concerned with what is a fair price. Usually price is based on condition, how hard it is to find, the quality, the functionality and/or what we paid for it. .</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">6. Where do we get your inventory? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">People like you and referrals! In addition, we travel all over the country for exhibitions to buy. Years in this hobby has created a network that we get referrals from on a regular basis. We have worked hard at our reputation for being fair and honest.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">7. How do I purchase an item listed on the website? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Please telephone us on either the dedicated landline (++91 832 2713377) or alternatively send a whatsapp text message to ++91 9822101373 or email us on info@ actionumisphil.com and kindly quote us the product id, to find out if the item you want is still available. You can also fill out our contact form and we’ll get back to you as soon as possible. Currently we sell offline only.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">8. What forms of payment do you accept? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">We accept cash, VISA, MasterCard, money order or bank (personal or company ) check.  In addition, we accept wire transfers to our bank (please e-mail info@ actionumisphil.com us for instructions).  Checks are subject to a hold (for up to 14 days) in order to clear the bank.  All funds are required to be in INR (Indian Rupees).   If your check is returned for NSF (non sufficient funds) you will be charged an additional fee of 20% of the amount value.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">9. When will my item be shipped? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">You are notified within 24 hours by us after receiving your payment and a majority of our orders are shipped within 24 hours after receiving funds.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">10. What if I am looking for an item that you don't have posted? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Not all of the items we sell are posted on our web site. Since the items we sell are unique one-of-a-kind, we never know what new items will be discovered. We keep a database of customers who are interested in specific items. We encourage you to e-mail your request to info@ actionumisphil.com.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">11. Do you sell to dealers? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Absolutely. Dealers are our best customers. We price our merchandise with dealers in mind.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p></i><span style="margin-left:2%; color:#000">12. Do you have returns Policy? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">No. We offer a 100% satisfaction on our items. We welcome you to inspect the merchandise and we will share our knowledge, but unfortunately because of the unique nature of the items we carry – returns are not accepted. Everything is SOLD AS IS without any guarantees.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">13. Do you have a hold policy? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">We can hold an item for 24 hours. Once the 24 hours expires the item will be offered for sale again. There is no obligation and no money required to hold an item, but if the policy is abused we may refuse the right to hold items.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">14. Do you rent your items out for photo shoots or as props? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Many times the answer is yes, but it depends on the item and timing. The fee is a minimum of 80% of our asking price for 5 days or less. We require a deposit for the full asking price. The deposit is returned when the item is returned in the same condition. Every piece is different – ask for more details if you are interested.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">15. Will you purchase my items? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Yes, we are interested in purchasing and/or a trade. Please call us on numbers listed in contact us page and leave your email of phone number, we will get back to as soon as possible.</p>
		</div>
		</div>
		</div>