
<div class="row">
<div class="large-10 columns">
<h3 class="title_bold">Frequently asked Questions (FAQ)</h3>
</div>
</div>
<div class="row" style="margin-top:3%">
	<div class="large-10 large-centered columns">
		<div class="row">
		<p></i><span style="margin-left:2%; color:#000">1. What is an ancient antique?</span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Technically, to us an Antique is something of value that has age. An Antique could be handmade, homemade, made by a machine or made by a master craftsman. Antiques could have been made simply or with lots of ornate details. It may be something that was made for the home, work or factory. It may have been altered over the years and had many different purposes. Since a majority of our items are at least 99 years old or older you can be sure you are owning an "ancient antique". There is a lot of flexibility in this definition and the definition leaves it open to a lot of interpretation.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">2. Where are they found? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">These ancient antiques are found throughout the world. A majority of our items that we have, are found in the old houses in and surrounding areas of Goa/India. Due to the large volume of business, it is difficult to pinpoint the area where each item originated. Since there were no banks in ancient times, many people buried their items (particularly coins) in the ground, caves. Some of the items, many items had remained buried because people either forgot where they buried the items or had died themselves. Due to the increased amount of building taking place throughout Goa, these buried treasures are now being discovered. Many of the inhabitants houses in Goa, people have migrated to greener pastures and have disposed their antiques to an antique dealer.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">3. How long have we been in business?</span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Action Videotronics/Antiques was started in 1980's. It is a family partnership. However, our interest in Antiques has been lifelong.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">4. Why are your items priced so low?</span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">We sell unique, one of a kind items.  Part of our mission is to provide quality products at an affordable price. We believe that everyone who wants to own a piece of history be given the opportunity. We work directly with our contacts who search and explore  around the world to acquire items for us.  Then we purchase in bulk and pass the savings onto our customers, which is why most our items are significantly less then our competitors. </p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">5. Do you do antique appraisals? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">No – we are not certified Appraisers. We have a general working knowledge of the business, but our interest is buying and selling — not speculating on what something might be worth.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">6. Do we buy items from customers? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Yes we do, but only items from genuine customers, also the item needs to be in a perfect condition.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">7. What is your pricing philosophy?  </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">We price our merchandise to sell. We are not concerned about what something is “worth” – we are concerned with what is a fair price. Usually price is based on condition, how hard it is to find, the quality, the functionality and/or what we paid for it. The Antique business is our only business and the items in our shop are there to sell!</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">8. Where do we get your inventory?  </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">People like you and referrals! In addition, we travel all over the country to buy. Years in this business has created a network that we get referrals from on a regular basis. We have worked hard at our reputation for being fair and honest.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">9. How can I clean these items? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">We do not recommend cleaning items, as any chemical you use may ruin the one-of-a-kind antique. Most of our items are at least 1500 years old, and are not supposed to look brand new. </p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">10. What type of customers order these items? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">A number of different types of clients order these items; museums, teachers, colleges, doctors, lawyers, investors, accountants, collectors, resellers, wholesalers, catalog companies, pastors, fraternity members, grandparents, parents, companies, and individuals that wish to own a unique one-of-a-kind item or keep as a family heirloom. A majority of our customers collect or give these items as gifts. We can’t think of anyone who wouldn't appreciate an item that may be found in a museum.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">11. How do I purchase an item listed on the website? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Please telephone us on either the dedicated landline (+91 832 2713377) or alternatively send a whatsapp text message to +91 9822169373 or email us on info@actionvideoantiques.com and kindly quote us the product id, to find out if the item you want is still available. You can also fill out our contact form and we’ll get back to you as soon as possible.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p></i><span style="margin-left:2%; color:#000">12. What forms of payment do you accept? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">We accept cash, VISA, MasterCard, money order or bank (personal or company ) check.  In addition, we accept wire transfers to our bank (please e-mail info@actionvideoantiques.com us for instructions).  Checks are subject to a hold (for up to 14 days) in order to clear the bank.  All funds are required to be in INR (Indian Rupees).   If your check is returned for NSF (non sufficient funds) you will be charged an additional fee of 20% of the amount value.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">13. When will my item be shipped? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">You are notified within 24 hours by us after receiving your payment and a majority of our orders are shipped within 24 hours after receiving funds.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">14. What if I am looking for an item that you don't have posted? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Not all of the items we sell are posted on our web site. Since the items we sell are unique one-of-a-kind, we never know what new items will be discovered. We keep a database of customers who are interested in specific items. We encourage you to e-mail your request to info@actionvideoantiques.com.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">15. Do you ship internationally? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Yes, we will ship internationally. However, you are responsible for clearing customs in your country and paying your country's duties/taxes (if any). We declare the value of the item at the price you paid.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">16. Do you offer a printed catalogue? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Since our items are extremely limited in supply, it is difficult for us to offer a printed catalogue. We have many items that are listed on our website, If you are looking for a specific item, please contact us directly.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">17. Do you sell to dealers?  </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Absolutely. Dealers are our best customers. We price our merchandise with dealers in mind.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">18. Do you have returns Policy? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">No. We offer a 100% satisfaction on our antiques. We welcome you to inspect the merchandise and we will share our knowledge, but unfortunately because of the unique nature of the items we carry – returns are not accepted. Everything is SOLD AS IS without any guarantees unless the final receipt indicates differently.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">19. Do you have a hold policy? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">We can hold an item for 24 hours. Once the 24 hours expires the item will be offered for sale again. There is no obligation and no money required to hold an item, but if the policy is abused we may refuse the right to hold items.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">20. Do you rent your items out for photo shoots or as props? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Many times the answer is yes, but it depends on the item and timing. The fee is a minimum of 80% of our asking price for 5 days or less. We require a deposit for the full asking price. The deposit is returned when the item is returned in the same condition. Every piece is different – ask for more details if you are interested.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">21. How much is shipping and handling? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Shipping and handling charges vary per destination and weight. You can save on the shipping and handling charge by ordering more items at once. The postage and handling charges consist of first class postage, packaging, data processing, warehousing, customer service.</p>
		</div>
		</div>
		<div class="large-10 large-centered columns">
		<div class="row">
		<p><span style="margin-left:2%; color:#000">22. Will you purchase my antiques? </span><i class="fa fa-chevron-right"></i><i class="fa fa-chevron-down"></i></p>
		<p class="answer">Yes, we are interested in purchasing and/or a trade. Please call us on numbers listed in contact us page and leave your email or phone number, we will get back to as soon as possible.</p>
		</div>
		</div>
		</div>