<div class="row>">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="your-class">
				  <div><img style="width:100%" src="img/1.jpg" /></div>
				  <div><img style="width:100%" src="img/2.jpg" /></div>
				  <div><img style="width:100%" src="img/3.jpg" /></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<h4><b>Product Category<b></h4>
			</div>
			<div class="large-12 small-12 columns">
				<div class="row">
					<% if @categories %>
						<% @categories.each do |category| %>
						<a href="/product_subcategory/<%= category.id %>">
							<div class="large-3 small-4 medium-3 columns" >
								<div class="category_img">
									<img src="<%= category.img_file.url %>"/>
								</div>
								<h6 class="panel panel-cat"><%= category.name %></h6>
							</div>
						</a>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="large-12 columns" style="margin-top:30px">
				<h3><b>Antiques not for sale<b></h3>
			</div>
			<div class="large-12 columns">
				<div class="large-3 small-4 medium-3 columns">
					<div class="category_img">
						<img src="img/01.jpg"/>
					</div>
					<h6 class="panel panel-cat">Ancient Protuguese coin</h6>
				</div>
				<div class="large-3 small-4 medium-3 columns">
					<div class="category_img">
						<img src="img/02.jpg"/>
					</div>
					<h6 class="panel panel-cat">Ancient Kadamba Coin</h6>
				</div>
			</div>
		</div>
	</div>
</div>