<div class="row>">
	<div class="large-12 columns">
		<div class="row">
			<div class="large-12 columns">
				<div class="your-class">
				<% @sliders.each do |slider| %>
				  <div><img style="width:100%" src="<%= slider.image.url(:medium) %>" /></div>
				<% end %>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<h4><b>Product Category<b></h4>
			</div>
			<div class="large-12 small-12 columns">
				<div class="row">
					<% if @categories %>
						<% @categories.each do |category| %>
						<a href="/product_subcategory/<%= category.id %>">
							<div class="large-3 small-4 medium-3 columns" >
								<div class="category_img">
									<img src="<%= category.img_file.url %>"/>
								</div>
								<h6 class="panel panel-cat"><%= category.name %></h6>
							</div>
						</a>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>