<div class="row">
<div class="large-12 columns terms">
<h3 class="title_bold">Terms and Conditions : </h3>
                                        <div>
                                                <p style="margin-bottom: 5px"><b>1. Copyright</b></p>
                                                <p>The copyright in this publication is owned by Action Video and Philately.</p>
                                                <p style="margin-bottom: 5px"><b>2.
Authorisation to Reproduce</b></p>
                                                        <p>Any person may reproduce any portion of the material in these web pages subject to the following conditions:
                                                        <br>The material may be used for information and non-commercial
purposes only
                                                        <br>It may not be modified in any way.
                                                        <br>No unauthorised copy is made of any Action Video and Philately trademark.
                                                        <br>Any copy of any portion of the material must include the following copyright notice: 
                                                        <br><span style="color:#222222">--Copyright &copy; 2015 Action Video and Philately. All Rights Reserved. </span>
                                                        <br><span style="color:#222222">--All other trademarks or trade
names referred to in these materials are the
property of their respective owners.</span>
                                                </p>
                                                <p style="margin-bottom: 5px"
><b>3.
Product Display Images</b></p><p
>The delivered item for the respective product categories may/ may not be exact replica of the images shown on the website (depending on the availability of the ordered product). Hence in such a case the delivered product shall be similar/ close-replica to the image shown for the ordered product item.</p>

<p style="margin-bottom: 5px"
><b>4.
Accuracy of this site</b></p><p
>These web pages may contain inadvertent inaccuracies or typographical errors. These will be corrected at Action Video and Philately discretion, as they are found. The information on these web pages is updated regularly, but inaccuracies may remain or occur where changes occur between updates. The Internet is maintained independently at multiple sites around the world and some of the information accessed through these web pages may originate outside of Action Video and Philately. Action excludes any obligation or responsibility for this content.</p>

<p style="margin-bottom: 5px"
><b>5.
Out of Stock Items/Back Orders</b></p><p
>Although we try to keep every item in stock, occasionally some items are not immediately available for shipment and may need to be backordered.
Unlike some of our competitors, we allow you to keep backordered items as part of your order until they're available to ship, without incurring any additional shipping charges.
However, in an effort to reduce shipping costs and the environmental impact of extra packaging, any order that contains a backorder where the available products totals less than Rs 1,000/- will be held for up to eight business days before shipping, in the event the backordered item becomes available and can be shipped with the rest of your order. We do this because more than 70% of backordered items normally become available within that timeframe, regardless of the expected availability date listed on our website.
</p>

<p>Alternatively, you can always request that the product items in your order be shipped separately as they become available.</p>
<p>If you have any questions about these Terms and Conditions, please contact
AVA at info@actionvideoantiques.com</p>
                                        </div>
                                        </div>
                                        </div>

